{
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "printWidth": 80,
  "semi": true,
  "singleAttributePerLine": true,
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
